<div id="show-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">     
      <div class="modal-header">
          <h3><%= @note.title %></h3><BR>
      </div>
      <div class="modal-body">    
           <p><%= @note.content %></p><BR>
      </div>
      <div class="modal-footer">
           <% @note.book_id.nil? ? np = notes_path : np = notes_of_book_path(@note.book_id) %>
           <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
  </div>
</div>
