<div class="form-group" align='right'>
<form >
 <input name='search' <%= @search %> >
 <button type=”submit”><i class="fas fa-search"></i></button>
</form>
</div>
<h2>Lista de cuadernos</h2>
<table class="table table-striped table-bordered" id="tbook">
  <thead>
  </thead>
  <tbody>
<%= render @books %>
  </tbody>
</table>
<p id="wp"><%= will_paginate @books, class: "pagination page-link btn" %></p>
<br />
<%= link_to 'Crear un cuaderno', new_book_path, class: 'btn btn-primary' %>
